.infoBlock {
  display: flex;
  justify-content: space-between;
  max-width: 450px;

  .col {
    display: flex;
    flex-direction: column;
    .description {
      display: flex;
      align-items: center;

      b {
        margin-left: 8px;
      }
      svg {
        margin-right: 8px;
        path {
          fill: #ff0000;
        }
      }
    }
  }
}
.carousel {
  width: fit-content;

  .imgWrapper {
    width: 552px;
    height: 413px;
    img {
      height: 100%;
      width: 100%;
      object-fit: contain;
    }
  }
}
